* {
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: content-box;
    background:fixed;
}

body {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.clock {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 5px 4px 4px rgba(5, 212, 219, 0.795),
    inset 5px 5px 10px rgba(13, 160, 214, 2.795),
    inset 5px 5px 20px rgba(13,160,214,2.4),
    inset -5px -5px 10px rgba(13,160,214,2.4);
    display:  flex;
    justify-content: center;
    align-items: center;
}
.clock::before{
    position: absolute;
    width: 8px;
    height: 8px;
    content: '';
    border: 3px solid #060505;
    border-radius: 50%;
    background-color: black;
}
.clock span{
    position:absolute;
    inset: 20px;
    color: black;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
}
.clock span b{
    font-size:1.5rem;
    font-weight: 500;
    display:inline-flex;
    transform: rotate(calc(-30deg*var(--i)));
}
.second{
  
}
.second i{
    position: absolute;
    width:6px;
    height:50%;
    background: #060505;
}